.footer-container {
  color: var(--third-color);
  font-family: var(--font-family);
  font-size: 13px;
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.footer-container > section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}

.footer-container > p {
  font-size: 11px;
}

@media screen and (max-width: 1010px) {
  .footer-container > section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 790px) {
  .footer-container > section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 555px) {
  .footer-container > section:nth-child(2) {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
