.section-container * {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-container section {
  padding: 10px 0;
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.section-container section::-webkit-scrollbar {
  display: none;
}

.section-img:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

.projects {
  cursor: pointer;
}

#projects {
  scroll-margin-top: 80px;
}

#skills {
  scroll-margin-top: 80px;
}

#hobbies {
  scroll-margin-top: 80px;
}

@media screen and (max-width: 555px) {
  .section-container section > img {
    height: 100px;
  }

  .section-container section > a {
    height: 120px;
  }

  .section-container section > a > img {
    height: 100%;
  }

  .section-container > h2 {
    font-size: 18px;
  }
}
