* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #141414;
}

:root {
  --primary-color: #e6e6e6;
  --secondary-color: #141414;
  --third-color: #808080;
  --accent-color: #ff0000;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-weight: 400;
}

.modal-info-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}

.modal-info-container::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
